@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

    /* ------------------------font-size------------------------  */

    --fs-48: 48px;
    --fs-40:40px;
    --fs-36: 36px;
    --fs-30:30px;
    --fs-25:25px;
    --fs-20: 20px;
    --fs-16: 16px;
    --fs-14: 14px;
    --fs-12:12px;


    /* ------------------------color------------------------  */


    --primary: #2C49FE;
    --secondary: #666666;
    --null: #01C8FF;
    --nul: #EAEDFF;
    --white: white;
    --null-2: #F1F2F5;

    /* ------------------------Font-style------------------------  */

    --poppins: poppins;

    





}