* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


.logo {
    font-size: var(--fs-48);
    color: var(--null);
    font-family: var(--poppins);
}

.log-out {
    width: 118px;
    height: 46px;
    background-color: var(--primary);
    border-radius: 23px;
    border: none;
    cursor: pointer;
    color: var(--white);
    font-family: var(--poppins);
}

.gap-56 {
    gap: 56px;
}

.svg-2 {
    margin-bottom: 22px;
}

.pt-126 {
    padding-top: 126px;
}

.bg-color {

    box-shadow: 0px 8px 35px 0px #0000000D;
}


.Event {
    color: var(--primary);
}

.logo {
    align-items: center;
    display: flex;
}

.bor-der {
    border: 2px solid #9CA1BE;
    border-radius: 35px;
    align-items: center;
    padding: 7px;

}

.post-com {
    width: 208px;
    height: 56px;
    background-color: var(--white);
    border: 1px solid var(--primary);
    border-radius: 36px;
    color: var(--primary);
    font-family: var(--poppins);

    font-size: var(--fs-20);

    font-weight: 600;
    line-height: 30px;



}

.input-font {
    font-family: var(--poppins);
    font-size: var(--fs-20);
    font-weight: 400;
    line-height: 30px;
    text-align: left;

}

.post-com:hover {
    background-color: var(--primary);
    color: var(--white);

}

.ml-21 {
    margin-left: 21px;
}

.max-width {
    max-width: 800px;

}

.input-new {
    outline: none;
    border: none;
}





.nav-tag {
    font-family: var(--poppins);
    font-size: var(--fs-16);

}









.home {
    color: var(--secondary);

}

.show-1 {
    width: 254px;
    height: 46px;
    background-color: var(--nul);
    border-radius: 23px;
    border: none;

}

.ml-13 {
    margin-left: 13px;
}

.section-head {
    font-family: var(--poppins);
    font-size: var(--fs-48);
    font-weight: 600;
    line-height: 72px;


}

.section-1-text {
    font-family: var(--poppins);
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--secondary);

}

.mt-156 {
    margin-top: 156px;
}

.gap-35 {
    gap: 35px;
}

.gap-8 {
    gap: 8px;
}

.mt-38 {
    margin-top: 38px;
}

.numbers {
    color: var(--secondary);
}

.section-1-text {
    font-family: var(--poppins);
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 28.8px;
    color: var(--secondary);

}



.flex-wrap {
    flex-wrap: wrap;
}

.butn {
    flex-wrap: wrap;
}

.transform {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line {
    width: 101px;
    height: 8px;
    background-color: var(--primary);

}

.line-1 {
    width: 13px;
    height: 8px;
    background-color: var(--nul);
}

.Gallery {
    font-family: var(--poppins);
    font-size: var(--fs-48);
    font-weight: 600;
    line-height: 72px;
    text-align: center;

}




.light::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    transition: all 300ms ease-in-out;
    background-color: rgb(0, 0, 0);
}

.light:hover::after {
    width: 100%;
    left: 0;
}

.log-out:hover {
    color: var(--primary);
    background-color: var(--white);
    border: 1px solid var(--primary);
}




.show-1:hover {
    background-color: var(--primary);
    color: var(--white);

}









/* -------------------------responsive------------------------- */










@media (max-width:1400px) {
    .headrr {
        flex-direction: column;
    }

    .butn {
        margin-bottom: 15px;
    }

    @media (max-width:576px) {
        .buts {
            flex-direction: column;
        }

    }
}

@media (max-width:576px) {
    .show-1 {
        padding: 0;
        margin: 0;
        margin-top: 10px;
    }

    .logo {
        font-size: var(--fs-30) !important;
    }


    .logo {
        font-size: var(--fs-40);

    }

    .logo-1 {
        width: 60px;
        height: 60px;
    }

    .column {
        flex-direction: column;
        justify-content: start;
    }


}